#clock-div {
	height:600px;
	width:850px;
}
#title {
	font-size:6.5em;
	margin-bottom:10%;
}
.count-title {
	font-size:3em;
}
#breakLength,#sessionLength {
	height:75px;
	width:325px;
}
.subtractBreak,.subtractSession,.addBreak,.addSession {
	width:100px;
	height:100px;
	line-height:35px;
	font-size:3em;
}
.numberBreak,.numberSession {
	font-size:4em;
}
#clock {
	clear:both;
	width:775px;
	height:775px;
}
#description {
	font-size:6em;
	margin-top:75px;
}
#countDown {
	font-size:7.5em;
	margin-top:100px;
}
#reset {
	margin-top:115px;
	padding-top:25px;
	width:225px;
	height:120px;
	font-size:3.5em;
}